.todo-item {
  width: 300px;

  &__title {
    cursor: pointer;

    &.completed {
      text-decoration: line-through;
    }
  }

  ::ng-deep {
    .anticon-delete {
      cursor: pointer
    }

  }
}
::ng-deep {
  .todo-item.ant-card-bordered {
    border: 4px solid #000;
  }
}
